<h1>@<%= current_user.username %>'s Twitter Feed</h1>
<p>Here is what your "friends" are saying:</p>


<% @following_tweets.each do |tweet| %>
  <div class="well">
    <p>
      <% if tweet.user.avatar.url %>
      <%= image_tag tweet.user.avatar.url, class: "user-pic-nav", width: "100px" %>
      <% end %>
      <%= link_to tweet.user.name, show_user_path(id: tweet.user_id) %>
      @<%= link_to tweet.user.username, show_user_path(id: tweet.user_id) %>
      <%= time_ago_in_words(tweet.created_at) %>
    </p>
    <p><%= tweet.message.html_safe %></p>
  </div>
<% end %>
