<h1>@<%= @user.username %>'s Profile & Tweets</h1>

<p><%= @user.name %></p>
<p><%= @user.location %></p>
<p><%= @user.bio %></p>

<p><%= link_to @user.username + " is following", following_path(id: @user.id) %></p>
<p><%= link_to @user.username + "'s followers", followers_path(id: @user.id) %></p>

<p>
  <% if current_user.following.include?(@user.id) %>
      <%= link_to "Following", unfollow_path(id: @user.id),
          class: "btn btn-primary", id: "unfollow_btn" %>
    <% else %>
      <% if current_user.id != @user.id %>
        <%= link_to "Follow", now_following_path(id: @user.id),
            class: "btn btn-primary" %>
      <% end %>
    <% end %>
</p>

<% @user.tweets.each do |tweet| %>
    <div>
        <p>@<%= @user.username %></p>
	<p><%= tweet.message.html_safe %></p>
    </div>
<% end %>

<script>

    $(document).ready(function(){
      $('#unfollow_btn').hover(function(){
        $(this).removeClass('btn-primary');
        $(this).addClass('btn-danger');
        $(this).html("Unfollow");
      }, function(){
        $(this).html("Following");
        $(this).removeClass('btn-danger');
        $(this).addClass('btn-primary');
      });
    })

</script>
